/* .example{
    position: absolute;
    top: 30%;
    left: 200;
    width: 300px;
    height: 200px;
    border: 25px solid #484a47;
    padding: 20px;
    overflow: auto;
}
.container{
position: relative;
} */



/* работа с css */
/* .elem.style.cssText{
color: red; 
font-size: 30px; 
border: 1px solid black;
}  */




